@using codemaiden.info.Extensions
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<style type="text/css">
		.invalid-feedback.field-validation-error { display: inherit; }
	</style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Codemaiden</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
			</li>
			@if (User.Identity.IsAuthenticated && Context.GetProfile().IsSysOp)
			{
				<li class="nav-item">
					<a class="nav-link" asp-controller="Account" asp-action="PuddingKingdom">Secret Pudding Kingdom</a>
				</li>
			}
		</ul>
	</div>
</nav>

<div>
	<div class="container">
		@RenderBody()
	</div>
</div>
<footer>
	<hr/>
	@RenderSection("Footer", false)
	@*    <vc:Greeter></vc:Greeter>*@
</footer>

<script type="text/javascript" src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>

<script type="text/javascript">
	$.validator.unobtrusive = {};
	$.validator.unobtrusive.options = {
		errorClass: 'invalid',
		validClass: 'valid'
	};
</script>

<script type="text/javascript" src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
@RenderSection("FooterJS", false)
</body>
</html>