﻿@model string

@{
	ViewBag.Title = "Access Denied";
}

<div class="row">
	<div class="col-12">
		<div class="alert alert-danger mt-2" role="alert">
			<h1>Access Denied!</h1>
			<p>It looks like you tried to access somewhere you're not allowed to visit.
				<br/>If you are a Codemaiden staff member, please ensure you are logged in to your staff account.</p>
			<hr />
			The url you tried to access is <strong>@Model</strong>.
		</div>
	</div>
</div>