﻿@model codemaiden.info.Controllers.UserProfileViewModel

@{
	ViewBag.Title = "Claims";
}

<div class="row">
	<div class="col-12">
		<h1>Claims</h1>
		<hr/>
		<h2>Name: @Model.Name</h2>
		<h2>Email: @Model.EmailAddress</h2>
		<h2>Image: @Model.ProfileImage</h2>
		<img src="@Model.ProfileImage"/>
		<hr/>
		<h2>AID: @Model.CmUserProfile.AuthId</h2>
		<h2>Display: @Model.CmUserProfile.DisplayName</h2>
		<h2>Is SysOp: @(Model.CmUserProfile.IsSysOp ? "True" : "False")</h2>
	</div>
</div>