﻿@model AccountWelcomeViewModel

@{
	ViewBag.Title = "title";
	Layout = null;
}

<html>
<head>
	<title>Welcome to Codemaiden</title>
	<link type="text/css" rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
	<style type="text/css">
		body {
			-ms-flex-align: center;
			-ms-flex-pack: center;
			-webkit-box-align: center;
			-webkit-box-pack: center;
			align-items: center;
			background-color: #f5f5f5;
			display: -ms-flexbox;
			display: -webkit-box;
			display: flex;
			justify-content: center;
			padding-bottom: 40px;
			padding-top: 40px;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					Create Profile
				</div>
				<div class="card-body">
					<h5 class="card-title">Welcome to Codemaiden!</h5>
					<p class="card-text">
						To continue, please complete your registration by creating a user profile or logging out below.
						<hr/>
					</p>
					@if (Model.Errors.Any())
					{
						foreach (var error in Model.Errors)
						{
							<div class="alert alert-danger" role="alert">
								@error
							</div>
						}
					}
					<form method="post" action="@Url.Action("CreateProfile")">
						@Html.AntiForgeryToken()
						<div class="row">
							<div class="col-auto mt-2">
								<label>Display Name</label>
							</div>
							<div class="col">
								<input class="form-control" name="DisplayName" autocomplete="off"/>
							</div>
						</div>
						<div class="row mt-1">
							<div class="col mt-2">
								<div class="form-group form-check">
									<input type="checkbox" class="form-check-input" name="ToSAgreed" unchecked value="true">
									<label class="form-check-label">
										<strong>
											I agree to the Terms and Conditions.
										</strong>
									</label>
								</div>
							</div>
						</div>
						<div class="row mt-1">
							<div class="col mt-2">
								<button type="submit" class="btn btn-primary">Create Profile</button>
								<a class="btn btn-danger" href="@(Url.Action("Logout", "Account"))">Logout</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>