@model Course

<div class="card">
	<div class="card-body">
		<h5 class="card-title">@Model.Name</h5>
		<h6 class="card-subtitle mb-2 text-muted">Course Id: @Model.Id</h6>
		<p class="card-text">This course is part of the @Model.Subject subject.</p>
		<a asp-action="Details" asp-route-id="@Model.Id" class="card-link">View</a>
		<a asp-action="Edit" asp-route-id="@Model.Id" class="card-link">Edit</a>
	</div>
</div>