@model Course

@{
	ViewBag.Title = "Create Course";
}

<h1>Create Course</h1>
<form method="POST">
	<div>
		<label asp-for="Name"></label>
		<input type="text" asp-for="Name"/>
		<span asp-validation-for="Name"></span>
	</div>
	<div>
		<label asp-for="Subject"></label>
		<select asp-for="Subject" asp-items="@(Html.GetEnumSelectList<Subject>())"></select>
		<span asp-validation-for="Subject"></span>
	</div>
	<input type="submit" name="save" value="Save"/>
</form>