@model CourseEditModel

@{
	ViewBag.Title = $"Editing {Model.Name}";
}

<h1>Editing @Model.Name</h1>
<form method="POST" class="needs-validation" novalidate>
	<input type="hidden" asp-for="Id"/>
	<div class="form-group">
		<label asp-for="Name"></label>
		<input type="text" asp-for="Name" class="form-control"/>
		<span class="invalid-feedback" asp-validation-for="Name"></span>
	</div>

	<div class="form-group">
		<label asp-for="Subject"></label>
		<select asp-for="Subject" asp-items="@(Html.GetEnumSelectList<Subject>())" class="form-control"></select>
		<span asp-validation-for="Subject"></span>
	</div>

	<input type="submit" name="save" value="Save" class="btn btn-primary"/>
</form>

@section FooterJS {
}