@model HomeIndexViewModel
@{
	ViewBag.Title = "Course Index";
}

<div class="row">
	<div class="col-12">
		<h1>Welcome Home</h1>
		<hr/>
		@if (User.Identity.IsAuthenticated)
		{
			<h2>You are <strong>signed in</strong>.</h2>
			<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
		}
		else
		{
			<h2>You are <strong>not signed in</strong>.</h2>
			<a asp-controller="Account" asp-action="Login" class="btn btn-success">Login</a>
		}
	</div>
</div>