﻿@model BlogIndexViewModel

@{
	ViewBag.Title = "Blog Posts";
}

<div class="row">
	<div class="col-12">
		<h1>Blog Posts</h1>
		<hr/>
		@foreach (var blogPost in Model.BlogPosts)
		{
			<div class="card">
				<h5 class="card-header">@blogPost.Title</h5>
				<div class="card-body">
					@*					<h5 class="card-title">Special title treatment</h5>*@
					<p class="card-text">@Html.Raw(blogPost.Body)</p>
					@*					<a href="#" class="btn btn-primary">Go somewhere</a>*@
				</div>
			</div>
		}
	</div>
</div>